In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
#Function to read files specified by user, with different file extensions supported

def read_file():
    file=input("Enter directory of file to be imported:\n")
    
    if file.endswith('.csv') or file.endswith('.CSV'):
        df=pd.read_csv(file)
        
    elif file.endswith('.xlsx') or file.endswith('.XLSX'):
        df=pd.read_excel(file)
        
    elif file.endswith('.json') or file.endswith('.JSON'):
        df=pd.read_json(file)
        
    return df
    
table=read_file()
table

In [ ]:
#Find most frequent value in a specific column
# .iloc[:,"index of column"] 
def find_most_freq():
    ans=table.iloc[:,1].value_counts()
    return ans
find_most_freq()

In [ ]:
#Find average of a specific NUMERICAL ONLY column
#replace in "ans=table['ENTER COLUMN NAME HERE'].mean()" to find average

def find_avg():
    try:
        ans=table.iloc[:,4].mean()
        return ans
    except:
        print("Column is not numerical, cannot find average")
find_avg()

In [ ]:
#key summary statistics
def summary_statistics():
    ans=table.describe()
    return ans
summary_statistics()

In [ ]:
#check for number of null values in each column:
table.isnull().sum()

In [ ]:
#check for total number of null values in entire dataframe
table.isnull().sum().sum()

In [ ]:
#fill null values with ZERO
table1=table.fillna(value=0)
table1

In [ ]:
#fill null value with previous value
table1=table.fillna(method='pad')
table1

In [ ]:
#fill null value with next value
table1=table.fillna(method='bfill')
table1

In [ ]:
#drop rows which contains EVEN ONE null value
table1=table.dropna()
table1

In [ ]:
#deletes entire row IF ANY OF ITS ELEMENTS=null.
table1=table.dropna(how='any')
table1

In [ ]:
#deletes entire row IF ALL OF ITS ELEMENTS=null.
table1=table.dropna(how='all')
table1

In [ ]:
#encoding categorical data

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()

In [ ]:
#encoding categorical data
ohe.fit_transform(table1[['mfr']])

In [ ]:
ohe.categories_